:root{
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img{
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.h1{
  color: var(--base);
}

body{
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  background: #193549;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 30px;
}

.controls{
  margin-bottom: 2rem;
}

input{
  width: 100px;
}