:root{
  --base: #2d449f;
  --spacing: 10px;
  --blur: 10px;
}

img{
  height: 65vh;
  width: auto;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.h1{
  color: var(--base);
}

body{
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67));
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 30px;
}

.controls{
  margin-bottom: 2rem;
}

input{
  width: 100px;
}